<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/ladder_template.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>League Tracker</title>
</head>

<body>
    <div class="contents">
    <img src="../static/img/custom_rs_logo.png" alt="Dream Team">

    <div class="nav_wrapper">
        {{ nav.my_navbar.render() }}
    </div>
    <h1>{{ group }}</h1>
    <p>A HTML leaderboard to easily view the current ladder status</p>

    <div class="main">
        <div class="left">
        
        <div class="sidebarnavbg">    
                <img src="https://www.runescape.com/img/rsp777/hiscores/banner_top2.gif" alt="Leaderboards">
        {% for name in names %}
        <li><a href="../leaderboard/{{name}}">{{name}}</a></li>
        {% endfor %}
    </div>
</div>

    <div class="right">
        <center>
            <table id = "lboardcontent">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Player</th>
                        <th scope="col">Rank</th>
                    </tr>
                </thead>

                {% for player in players %}
                <tr>
                    <td>{{ player.name }}</td>
                    <td>{{ player.rank }}</td>
                </tr>
                {% endfor %}
            </table>
        </center>
    </div>
    </div>
</div>

    </div>
    </body>

</html>