      audio controls {
          position: absolute;
          bottom: 10px;
          width: 50%;
      }
      #lboardcontent {
        width: 379px;
        position: relative;
        background: url("../img/scroll_middle.gif") repeat-y;
        margin: 0 -5px;
        line-height: 18px;
        color: #000;
      }
      
      table {
        display: table;
        border-collapse: separate;
        border-spacing: 2px;
        border-color: grey;
      }

      body {
          background-color: black;
      }

      .contents {
          background-image: url("../img/rs_repeat_bg.jpg");
          background-repeat: repeat-y;
          background-attachment: fixed;
          background-position: center;
          background-color: black;
          text-align: center;
          display: block;
          margin-left: auto;
          margin-right: auto;
          color: white;
          width: 910px;
      }

      h1 {
          color: white;
      }

      table,
      th,
      td {
          border: 1px solid black;
          text-align: center;
          border-spacing: 5px;
      }

      p {
          color: #90c040;
      }

      .nav_wrapper {
          text-align: center;
      }

      .navbar ul {
          padding-left: 0px;
      }

      .navbar ul li {
          list-style: none;
          display: inline-block;
      }

      .navbar li a {
          background: black;
          border: 2px solid #382418;
          padding: 7px 15px;
          color: #90c040;
          text-decoration: none;
      }