      audio controls {
          position: absolute;
          bottom: 10px;
          width: 50%;
      }
      #lboardcontent {
        width: 379px;
        position: relative;
        background: url("../img/scroll_middle.gif") repeat-y;
        margin: 0 -5px;
        line-height: 18px;
        color: #000;
      }
      
      table {
        display: table;
        border-collapse: separate;
        border-spacing: 2px;
        border-color: grey;
      }

<<<<<<< HEAD
      body {
          background-color: black;
      }

      .contents {
          background-image: url("../img/rs_repeat_bg.jpg");
          background-repeat: repeat-y;
          background-attachment: fixed;
          background-position: center;
          background-color: black;
          text-align: center;
          display: block;
          margin-left: auto;
          margin-right: auto;
          color: white;
          width: 910px;
=======
      html {
          height: 100%;
      }

      .contents {
        background-image: url("../img/rs_repeat_bg.jpg");
        background-repeat: repeat-y;
        background-attachment: fixed;
        background-position: center;
        background-color: black;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: white;
        height: 100%;
>>>>>>> 941d79b092747674df531ebb9b0128cc86adf332
      }

      h1 {
          color: white;
      }

      table {
          width: 100%;height: 100%;
          text-align: center;
          border-spacing: 5px;
      }

      p {
          color: #90c040;
      }

      .nav_wrapper {
          text-align: center;
      }

      .navbar ul {
          padding-left: 0px;
      }

      .navbar ul li {
          list-style: none;
          display: inline-block;
      }

      .navbar li a {
          background: black;
          border: 2px solid #382418;
          padding: 7px 15px;
          color: #90c040;
          text-decoration: none;
      }

      .ladder_wrapper {
          text-align: center;
          margin-top: 20px;
      }

      .ladder_table {
          display: inline-block;
      }

      .ladder_header {
          background: url(https://www.runescape.com/img/rsp777/hiscores/scroll_top.gif) no-repeat;
              width: 379px;
          height: 36px;
      }

      .ladder_content {
          width: 379px;
          position: relative;
          background: url(https://www.runescape.com/img/rsp777/hiscores/scroll_middle.gif) repeat-y;
          line-height: 18px;
          color: #000;
          text-align: center;
      }

      .ladder_footer {
          background: url(https://www.runescape.com/img/rsp777/hiscores/scroll_bottom.gif) no-repeat;
          width: 379px;
          height: 36px;
      }

      .right {
          padding-right: 15px;
          width: 50%;
      }

      .left {
          padding-left: 15px;
          width: 50%;
      }

      .ladder_table caption {
          font-weight: bold;
      }

      .rank_1_medal {
          width: 25%;
          padding-right: 20px;
      }

      .rank_2_medal {
        width: 20%;
        padding-right: 20px;
    }

    .rank_3_medal {
        width: 15%;
        padding-right: 20px;
    }

      .medal_wrapper {
        display:flex;
        flex-wrap: nowrap;
        align-items: center;
      }