audio controls {
    position: absolute;
    bottom: 10px;
    width: 50%;
}

html,
body {
    background-color: black;
    height: 100%;
}

.contents {
    background-image: url("../img/rs_repeat_bg.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    height: 100%;
}

.main {
    margin-top: 30px;
}

.container {
    color: white;
}

table,
th,
td {
    text-align: center;
}

p {
    color: #90c040;
}

.nav_wrapper {
    text-align: center;
}

.navbar ul {
    padding-left: 0px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
}

.navbar li a {
    background: black;
    border: 2px solid #382418;
    padding: 7px 15px;
    color: #90c040;
    text-decoration: none;
}


.lb_nav ul {
    background: url("../img/banner_middle2.gif") repeat-y;
    max-width: 157px;
    margin: 200px;

    padding-left: 10px;
    list-style: none;
    text-align: left;
    width: 175px;
    padding: 0px 4px;

}

.lb_nav ul li a {
    color: rgb(217, 194, 126);
    margin-left: 20px;
    display: block;
    padding: 3px 0px 0px 20px;
}

.main {
    display: flex;
}

.left {
    flex: 1
}

.right {
    flex: 2;
    margin-right: 20%;
}

.ladder_content .right {
    text-align: right;
}

.ladder_content .left {
    text-align: left;
}

.sidebarnavbg {
    background: url("../img/sidebar_middle.gif") repeat-y;
    width: 175px;
    list-style: none;
    margin-left: 50px;
    padding-bottom: 10px;

}


.sidebarnavbg a {
    color: rgb(217, 194, 126);
}

.contents {
    width: 910px;
}

.ladder_wrapper {
    text-align: center;
    margin-top: 30px;
}

.ladder_table {
    display: inline-block;
}

.ladder_header {
    background: url("../img/scroll_top.gif") no-repeat;
    width: 379px;
    height: 36px;
}

.ladder_content {
    width: 379px;
    position: relative;
    background: url("../img/scroll_middle.gif") repeat-y;
    line-height: 18px;
    color: #000;
    text-align: center;
}

.ladder_footer {
    background: url("../img/scroll_bottom.gif") no-repeat;
    width: 379px;
    height: 36px;
}

.right {
    padding-right: 15px;
    width: 50%;
}

.left {
    padding-left: 15px;
    width: 50%;
}

.ladder_table caption {
    font-weight: bold;
}

.rank_1_medal {
    width: 25%;
    padding-right: 20px;
}

.rank_2_medal {
    width: 20%;
    padding-right: 20px;
}

.rank_3_medal {
    width: 15%;
    padding-right: 20px;
}

.medal_wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.sidebarnav_top {
    background: url("../img/banner_top2.gif") no-repeat;
    width: 186px;
    height: 90px;
    margin-left: 50px;
}

.sidebarnav_bottom {
    background: url("../img/banner_bottom2.gif") no-repeat;
    width: 186px;
    height: 60px;
    margin-left: 50px;
}